################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/irakligdev/App_Data
/irakligdev/bin
/irakligdev/obj/Debug
/irakligdev/irakligdev.csproj.user
/packages
/.gitattributes.gitattributes
/.gitignore.gitignore
