################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/irakligdev/bin
/irakligdev/App_Data
/irakligdev/obj/Debug
/packages
/.gitignore.gitignore
/.gitattributes.gitattributes
/irakligdev/irakligdev.csproj.user
