@model irakligdev.Models.User

@{
    ViewBag.Title = "Login Page";
}

<div class="login">
    <h2>Login to your account.</h2>
</div>

<div>
    @using (Html.BeginForm("Login", "Main"))
    {
        @Html.TextBoxFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username)

        @Html.TextBoxFor(model => model.SPassword)
        @Html.ValidationMessageFor(model => model.SPassword)

        <button type="submit">Login</button>

    }
</div>