@model irakligdev.Models.User

@{
    ViewBag.Title = "Register Page";
}

<div class="register">
    <h2>Register a new account.</h2>
</div>

@using (Html.BeginForm("Register", "Main"))
{
    @Html.TextBoxFor(model => model.Username)
    @Html.ValidationMessageFor(model => model.Username)

    @Html.TextBoxFor(model => model.SPassword)
    @Html.ValidationMessageFor(model => model.SPassword)

    <button type="submit">Register</button>


}



