@{
    ViewBag.Title = "Start Page";
}

<div class="start">
    <h2>Grow Here</h2>
    <h3>Who knows what will happen...</h3>
</div>
<div class="row">
    <div class="col-md-2">
        <h2>@ViewBag.Message</h2>
        
        <button class="btn" type="button" onclick="location.href='@Url.Action("Grow", "Main")'">Grow</button>
    </div>
</div>


